nav.instructor-bar {
  @include clearfix;
  @include box-sizing(border-box);
  background-color: $black-t3;
  margin: 0px auto 0px;
  padding: ($baseline*.75);
  width: 100%;

  .inner-wrapper {
    margin: 0 auto;
    max-width: 1160px;
    width: flex-grid(12);
  }

  .instructor-bar-title {
    @extend %t-title6;
    @extend %t-weight1;
    display: inline-block;
    margin: 0;
    color: $gray-l6;
    vertical-align: middle;
    font-weight: 200;
    border-right: 1px solid $gray;
    padding-right: $baseline;
  }

  .instructor-actions {
    display: inline-block;
    margin: 0 ($baseline/2);

    // UI: Instructor Action
    .instructor-action {
      display: inline-block;
      margin: 0 ($baseline/2);

      // CASE: Preview Mode Action
      &.action-preview-mode {

        .view-mode-label {
          color: $gray-l6;
          text-shadow: none;
        }

        .view-mode-select {
          background-color: $notify-banner-bg-1;
          color: $gray-l6;
        }
      }

    }
  }
}
